<li>

    <a href="#" value="{{id}}">
        <div>

        <i class="material-icons">bookmark</i>
        {{name}}

        {{#if color}}
        <a href="#" class="display-flex dropdown-trigger" 
            data-target="bookmark-color-dropdown-{{id}}">

            {{#if (isWhite color)}}
            <i class="material-icons"
                style="margin-right: 0; color: rgb(56, 56, 56)">panorama_fish_eye</i>
            {{else}}
            <i class="material-icons" style="margin-right: 0; color: {{color}}">circle</i>
            {{/if}}

        </a>
        <ul id="bookmark-color-dropdown-{{id}}" 
            class="dropdown-content" data-id="{{id}}">
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: rgb(56, 56, 56)">panorama_fish_eye</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: black">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: red">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: green">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: blue">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: yellow">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: orange">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: purple">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: pink">circle</i>
            </a></li>
        </ul>
    {{/if}}
        </div>
    </a>
</li>
