<li>

    <a href="#" value="{{id}}" class="valign-wrapper entity-entry">

        <i class="material-icons" style="padding-left: 2px; margin-right: 16px">bookmark</i>
        {{name}}

        {{#if color}}
        <div class="right-align-buttons">
            <div class="dropdown-trigger color-dropdown-trigger-bookmark valign-wrapper" 
                data-target="bookmark-color-dropdown-{{id}}" data-id="{{id}}">

                {{#if (isWhite color)}}
                <i class="material-icons"
                    style="margin-right: 0; color: rgb(56, 56, 56)">panorama_fish_eye</i>
                {{else}}
                <i class="material-icons" style="color: {{color}}">circle</i>
                {{/if}}

            </div>

            <ul id="bookmark-color-dropdown-{{id}}" 
                class="dropdown-content color-dropdown" data-id="{{id}}">
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: rgb(56, 56, 56)">panorama_fish_eye</i>
                </div></li>
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: black">circle</i>
                </div></li>
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: red">circle</i>
                </div></li>
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: green">circle</i>
                </div></li>
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: blue">circle</i>
                </div></li>
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: yellow">circle</i>
                </div></li>
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: orange">circle</i>
                </div></li>
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: purple">circle</i>
                </div></li>
                <li><div class="color-dropdown-select">
                    <i class="material-icons" style="color: pink">circle</i>
                </div></li>
            </ul>
        </div>
        
        {{/if}}

    </a>
</li>
