<li>
    <a value="{{id}}" class="collapsible-header entity-entry valign-wrapper">
        <i class="material-icons">folder</i>
        {{name}}
        <div class="entity-buttons">
            <button class="btn entity-btn collection-edit-btn" data-id="{{id}}">EDIT</button>
            <button class="btn collection-move-btn" data-id="{{id}}">MOVE</button>
            <button class="btn collection-delete-btn" data-id="{{id}}">DELETE</button>
        </div>

        <div class="dropdown-trigger add-entity-trigger valign-wrapper" 
            data-target="add-to-collection-{{id}}">
            <i class="material-icons" style="margin: 0; color: grey">add</i>
        </div>
        <ul id="add-to-collection-{{id}}" class="dropdown-content add-entity-dropdown">
            <li><div class="new-collection" data-id="{{id}}">New Collection</div></li>
            <li class="divider" tabindex="-1"></li>
            <li><div class="new-bookmark"   data-id="{{id}}">New Bookmark  </div></li>
        </ul>

        {{#if color}}

        <div class="dropdown-trigger color-dropdown-trigger-collection valign-wrapper" data-id={{id}} 
            data-target="collection-color-dropdown-{{id}}">
            {{#if (isWhite color)}}
            <i class="material-icons" 
                style="margin: 0; color: rgb(56, 56, 56)">panorama_fish_eye</i>
            {{else}}
            <i class="material-icons" style="margin: 0; color: {{color}}">circle</i>
            {{/if}}
        </div>

        <ul id="collection-color-dropdown-{{id}}" 
           class="dropdown-content color-dropdown color-dropdown-collection" data-id="{{id}}">
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" 
                        style="color: rgb(56, 56, 56)">panorama_fish_eye</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="color: black">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="color: red">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="color: green">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="color: blue">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="color: yellow">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="color: orange">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="color: purple">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="color: pink">circle</i>
                </div>
            </li>
        </ul>

        {{/if}}


    </a>
    {{#if collections}}
        <div class="collapsible-body">
            <ul class="collapsible expandable">
                {{#if collections}}
                {{#each collections}}
                    {{> collectionPartial}}
                {{/each}}


                {{/if}}
            </ul>
        </div>
    {{/if}}

    {{#unless collections}}
        <div class="collapsible-body ">
        <div class="nothing-here-body">
            <div class="nothing-here">Nothing here!</div>
        </div>

        </div>
    {{/unless}}
</li>

