<li>
    <a value="{{id}}" class="collapsible-header">
        <i class="material-icons">folder</i>
        {{name}}

        <a href="#" class="dropdown-trigger add-to-collection-btn" data-target="add-to-collection">
            <i class="material-icons">add</i>
        </a>
        <ul id="add-to-collection" class="dropdown-content">
            <li><a id="new-collection" data-id="{{id}}" href="#">New Collection</a></li>
            <li><a id="new-bookmark" data-id="{{id}}" href="#">New Bookmark</a></li>
        </ul>

        {{#if color}}
        <a href="#" class="dropdown-trigger" data-target="collection-color-dropdown-{{id}}">
            <i class="material-icons right" style="margin-right: 0; color: {{color}}">circle</i>
        </a>
        <ul id="collection-color-dropdown-{{id}}" 
            class="dropdown-content collection-color-dropdown" data-id="{{id}}">
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: white">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: black">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: red">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: green">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: blue">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: yellow">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: orange">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: purple">circle</i>
            </a></li>
            <li><a href="#!" class="color-dropdown-select">
                <i class="material-icons right" 
                    style="margin-right: 0; color: pink">circle</i>
            </a></li>
        </ul>
        {{/if}}

    </a>

    <div class="collapsible-body">
        <ul class="collapsible expandable">
            {{#if collections}}
            {{#each collections}}
                {{> collectionPartial}}
            {{/each}}
            {{/if}}
            {{#if bookmarks}}
            {{#each bookmarks}}
                {{> bookmarkPartial}}
            {{/each}}
            {{/if}}
            {{#unless bookmarks}}
            {{#unless collections}}
                <li>
                    <a class="nothing-here" href="#">Nothing here!</a>
                </li>
            {{/unless}}
            {{/unless}}
        </ul>
    </div>
    
</li>