<a href="#" id="flex-test">
    <i class="material-icons">folder</i>
    Hello
    <div>Test link</div>
    <i class="material-icons">circle</i>
</a>

<li>
    <a value="{{id}}" class="collapsible-header">
        <i class="material-icons">folder</i>
        {{name}}

        <div class="dropdown-trigger add-to-collection-btn" data-target="add-to-collection">
            <i class="material-icons">add</i>
        </div>
        <ul id="add-to-collection" class="dropdown-content">
            <li><div id="new-collection" data-id="{{id}}" href="#">New Collection</div></li>
            <li><div id="new-bookmark" data-id="{{id}}" href="#">New Bookmark</div></li>
        </ul>

        {{#if color}}
        <div class="color-dropdown-trigger" data-id={{id}}>
            {{#if (isWhite color)}}
            <i class="material-icons" 
                style="margin-right: 0; color: rgb(56, 56, 56)">panorama_fish_eye</i>
            {{else}}
            <i class="material-icons right" style="margin-right: 0; color: {{color}}">circle</i>
            {{/if}}
        </div>
        {{/if}}

    <div class="collapsible-body">
        <ul class="collapsible expandable">
            {{#if collections}}
            {{#each collections}}
                {{> collectionPartial}}
            {{/each}}
            {{/if}}
            {{#if bookmarks}}
            {{#each bookmarks}}
                {{> bookmarkPartial}}
            {{/each}}
            {{/if}}
            {{#unless bookmarks}}
            {{#unless collections}}
                <li>
                    <a class="nothing-here" href="#">Nothing here!</a>
                </li>
            {{/unless}}
            {{/unless}}
        </ul>
    </div>
    </a>
</li>

<ul id="collection-color-dropdown-{{id}}" 
    class="collection-color-dropdown" style="" data-id="{{id}}">
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: rgb(56, 56, 56)">panorama_fish_eye</i>
        </div>
    </li>
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: black">circle</i>
        </div>
    </li>
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: red">circle</i>
        </div>
    </li>
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: green">circle</i>
        </div>
    </li>
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: blue">circle</i>
        </div>
    </li>
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: yellow">circle</i>
        </div>
    </li>
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: orange">circle</i>
        </div>
    </li>
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: purple">circle</i>
        </div>
    </li>
    <li>
        <div class="collection-color-dropdown-select">
            <i class="material-icons" style="margin-right: 0; color: pink">circle</i>
        </div>
    </li>
</ul>