<li>
    <a value="{{id}}" class="collapsible-header valign-wrapper">
        <i class="material-icons">folder</i>
        {{name}}

        <div class="right-align-buttons" style="align-self: right;">
        <div class="dropdown-trigger new-entity-dropdown-trigger valign-wrapper" 
            data-target="add-to-collection-{{id}}">
            <i class="material-icons" style="margin: 0; color: grey">add</i>
        </div>
        <ul id="add-to-collection-{{id}}" class="dropdown-content">
            <li><div class="new-collection" data-id="{{id}}">New Collection</div></li>
            <li><div class="new-bookmark"   data-id="{{id}}">New Bookmark  </div></li>
        </ul>

        {{#if color}}
        <div class="dropdown-trigger color-dropdown-trigger valign-wrapper" data-id={{id}} 
            data-target="collection-color-dropdown-{{id}}" style="margin: 0;">
            {{#if (isWhite color)}}
            <i class="material-icons" 
                style="margin: 0; color: rgb(56, 56, 56)">panorama_fish_eye</i>
            {{else}}
            <i class="material-icons" style="margin: 0; color: {{color}}">circle</i>
            {{/if}}
        </div>
        <ul id="collection-color-dropdown-{{id}}" class="dropdown-content collection-color-dropdown" data-id="{{id}}">
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: rgb(56, 56, 56)">panorama_fish_eye</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: black">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: red">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: green">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: blue">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: yellow">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: orange">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: purple">circle</i>
                </div>
            </li>
            <li class="valign-wrapper">
                <div class="collection-color-dropdown-select valign-wrapper">
                    <i class="material-icons" style="margin-right: 0; color: pink">circle</i>
                </div>
            </li>
        </ul>
        {{/if}}
        </div>

    <div class="collapsible-body">
        <ul class="collapsible expandable">
            {{#if collections}}
            {{#each collections}}
                {{> collectionPartial}}
            {{/each}}
            {{/if}}
            {{#if bookmarks}}
            {{#each bookmarks}}
                {{> bookmarkPartial}}
            {{/each}}
            {{/if}}
            {{#unless bookmarks}}
            {{#unless collections}}
                <li>
                    <a class="nothing-here" href="#">Nothing here!</a>
                </li>
            {{/unless}}
            {{/unless}}
        </ul>
    </div>
    </a>
</li>

